<button
  class="admin-icon-button"
  type="button"
  aria-label="게시글 액션"
  aria-haspopup="true"
  aria-expanded="false"
  data-admin-action-button
>
  <span class="material-symbols-outlined">more_vert</span>
</button>
<div class="admin-action-card" data-admin-action-card hidden>
  <a class="admin-action-link" href="#" onclick="return false;" aria-disabled="true">
    <span class="material-symbols-outlined">visibility</span>
    <span>보기</span>
  </a>
  <a class="admin-action-link is-danger" href="#" onclick="return false;" aria-disabled="true">
    <span class="material-symbols-outlined">delete</span>
    <span>삭제</span>
  </a>
</div>
